.body{
    
    background-image: linear-gradient(135deg,black, rgb(34, 4, 4)) ;
    color:rgb(173, 164, 164);
}


.header-container{
    background-color: rgb(34, 2, 2);
    height:150px;
    width: 100%;
    display: flex ;
    justify-content: space-between;
    text-align: center;
    padding-left: 32%;
    padding-right: 10%;
    padding-top: 2%;
    position: relative;
}

.heading{
    color: aliceblue;
    font: 6em sans-sarif;
}
.gallery{
    color:red;
    
}
.more1 span{
    color:rgb(55, 2, 2);
    font-weight: bold;

}
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span {
    color: rgb(162, 18, 102);
    text-decoration: none;
}
